.quote__section {
    figcaption {
        font-style: italic;
        text-align: right;
        margin-top: 2rem;
        transition: opacity 1s ease-out;
    }

    blockquote {
        margin-top: 2rem;
        font-size: 3rem;
        transition: opacity 1s ease-out;
    }
}