@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');


/*Basic Settings*/

#root {
  height: 100%;
}

html {
  font-size: 62.5%;
  /*10px is 62,5% of default 16px*/
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


/* Styling main elements */

body {
  font-family: 'Raleway', 'sans-serif';
  line-height: 1.4;
  font-size: 1.8rem;
  height: 100%;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: pink;
  transition: all 2s ease-out;
  padding: 2rem;
}

#quote-box {
  background-color: white;
  max-width: 50rem;
  padding: 5rem;
  border-radius: 3rem;
}